<!-- ERROR FECHA OCUPADA -->
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card  error">
          <h1>Lo sentimos, la fecha {{fechaOcupada}} está ocupada. Puede elegir otra</h1>
          <a class="navbar-brand"> <img class="cara" src="../img/cara_triste.png" width="45"
              class="d-inline-block align-top"></a>
          <a href="/">Volver a la reserva de citas</a>
        </div>
      </div>
    </div>
  </div>
</main>